@import "../node_modules/ui-styles/variables.less";

:host {
  display: inline-block;
  box-model: border-box;
  position: relative;
  .cannot-select-text;

  #switch {
    box-sizing: content-box;
    display: inline-block;
    width: 2.5em;
    height: 1em;
    background-color: @hairline-grey;
    background-image: linear-gradient(rgba(0,0,0,0.01), rgba(0,0,0,0.02));
    .border;
    margin-right: 0.5em;
    padding: 0.2em;
    .transition(@transition);
  }
  #switchhandle {
    box-sizing: border-box;
    display: inline-block;
    background-image: linear-gradient(rgba(0,0,0,0.01), rgba(0,0,0,0.02));
    .border;
    width: 1em;
    height: 1em;
    .transition(@input-transition);
    margin-left: 0;
    background-color: @white;
    background-color: @hairline-grey;
  }
  //hide it this way so that we can still get keytab focus
  input {
    position: absolute;
    opacity: 0;
  }
}

:host([on]) {
  #switchhandle {
    margin-left: 1.5em;
  }
  #switch {
    background-color: @green;
  }
}

:host([focused]) {
  #switch {
    .focused-border;
  }
}
